@import './utils/vars';
@import './base/reset';
@import './base/common';
@import './utils/placeholder';

@import './components/header';
@import './components/logo';

@import './components/hero';
@import './components/features';
@import './components/about';
@import './components/team';
@import './components/team-social-list';
@import './components/clients';

@import './components/footer';
@import './components/address';
@import './components/footer-social';
@import './components/footer-form';

@import './components/modal';

@import './components/portfolio';