.about {
    padding-top: 0;
    padding-bottom: 94px;
    &__title {
        color: $title-text-color;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 50px;
    }
}

.about-list {
    @extend .features-list;

    &__item {
        position: relative;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__description {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }

    &__text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
    }
}