.address {
    font-style: normal;
    &__list {
        @extend %list;
        margin-top: 20px;
    }
    &__item:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__link {
    @extend %link;
    color: $footer-address-color;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &--white {
        color: $white-color;
    }
    &:hover, &:focus {
        color: $accent-color;
    }
}