.footer-social {
    margin-left: 70px;
    &__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 20px;
    }
}

.footer-soc-list {
    @extend %list;
    display: flex;
    justify-content: center;
    &__item {
        @extend .social-list__item;
    }
    &__link {
        @extend %link;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus {
            background-color: $accent-color;
        }
    }
    &__icon {
        fill: $white-color;
    }
}