.logo {
    @extend %link;
    color: $logo-color;
    font-family: $secondary-font-family;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    &__text {
        color: $accent-color;
    }
    &--white {
        color: $white-color;
    }
}

.header__logo {
    margin-right: 93px;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}