.team {
    @extend %section;
    background-color: $background-color-team;
    &__title {
        @extend .about__title;
    }
}

.team-list {
    @extend %list;
    display: flex;

    &__item {
        background-color: $white-color;
        width: 270px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__img {
        margin-bottom: 30px;
    }

    &__title {
        color: $title-text-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
    }
}