$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-color: #ffffff;
$logo-color: #000000;
$hero-background-color: #c4c4c4;
$background-color-footer: #2f303a;
$background-color-main: #f5f5f5;
$background-color-team: #f5f4fa;
$footer-address-color: rgba(255, 255, 255, 0.6);
$main-icon-color: #afb1b8;
$btn-hover-color: #188ce8;
$main-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway";
$main-font-weight: 400;